<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Readex+Pro:wght@200;300;400;500;600;700&family=Redacted&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple|3d-float">
    
    <!-- GOOGLE FONTS IMPORT ABOVE INCLUDING EFFECTS!-->
    
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/style.css' %}">
    <title>Jae</title>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
    <script src="{% static 'portfolio/script.js'}"></script>
</head>
<body>
    <div class="top-section">
        <div class="text-container vertical-center">
            <h1 class="cursive font-effect-3d-float">Johannes Rønning</h1>
            <p>full-stack developer</p>
        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#work">Work</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div id="about" class="section">
        <div class="section-header">
            <h1 class="cursive font-effect-3d-float">About me</h1>
        </div>
        <div class="about-text">
            <h1>A self-taught ambitious full-stack developer</h1>
            <p>Self-taught programming since i was young and been delving into web-development as well as Machine Learning.</p>
            <h2>Machine learning you say?</h2>
            <p>I have taken multiple courses and completed several small to medium size projects such as:</p>
            <ul>
                <li><p><b> MNIST CNN </b> model as well as a linear regression model comparison.</p></li>
                <li><p><b> Case study </b> and machine learning on a bussiness ravenue target logistic function categorizer.</p></li>
                <li><p><b> NLP RNN </b> on a spam / not spam dataset to differantiate between spam SMS and not spam SMS.</p></li>
            </ul>
            <h2>Full-stack developer you say?</h2>
            <p>I have been making small landing pages for a long time but not really
                too much experience outside of
                python <b>flask/django</b> and pure js stack.</p>
            <p>I have made and deployed multiple portfolio pages, <i>obviously including this one.</i></p>

            <h3>Comfortable resources</h3>
            <h4>For web-development</h4>
            <ul>
                <li><p>I usually deploy a webserver with apache2 on a Ubuntu server.</p></li>
                <li><p>Style the website using basic html, css, and some small js libraries.</p></li>
                <li><p>Content is managed with sqlite and database tables. And integrated using Django or json</p></li>
            </ul>
            <h4>for Machine Learning and Data Science</h4>
            <ul>
                <li><p><b>Tensorflow & Keras API</b> for model configuration.</p></li>
                <li><p><b>Pandas</b> for visualization.</p></li>
                <li><p><b>Numpy</b> for data accquisition and configuration.</p></li>
            </ul>
        </div>
    </div>
    <div id="work" class="section">
        <div class="section-header second-color-bg">
            <h1 class="second-color-txt cursive font-effect-3d-float">My work</h1>
        </div>
        <div class="work-container">
            <div class="work-content">
                <h1>A beginners endevour into Machine Learning</h1>
                <img src="{% static 'portfolio/imgs/image1.jpg' %}" alt="">
            </div>
            <div class="work-content">
                <h1 class="second-color-txt">Ticketer - A ticket support system</h1>
                <img src="{% static 'portfolio/imgs/image2.jpg' %}" alt="">
            </div>
            <div class="work-content">
                <h1>Is server hosting easy?</h1>
                <img src="{% static 'portfolio/imgs/image3.jpg' %}" alt="">
            </div>
        </div>
    </div>
</body>
</html>
