:root {
    --font-size: 36px
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: #0B0909;
}

.status {
    display:flex
}
.🍎 {
    padding-left: 200px;
}
.🍎 svg {
    margin-right: 15px;
    height: var(--font-size);
    transform: translateY(-5px);
}

.left-status-bit {
    text-align: right;
}
.text-container {
    display: flex;
    justify-content: center;
    height:85vh;
    width: 100vw;
}

.text-container span.sentence {
    font-size: var(--font-size);
    color: #ffffff;
    font-family: Consolas,monaco,monospace;
}

.span-container {
    width: 95vw;
    padding: 100px 0;
    height: 100%;
}

.shabang {
    opacity: 100%;
    color:rgba(255, 255, 255, 0.33);
    font-family: Consolas,monaco,monospace;
}

.input-cursor {
    display: inline-block;
    width: 2px;
    height: var(--font-size);
    background-color: white;
    margin-left: 2px;
    animation: blink .6s linear infinite alternate;
}

#active {
    color:rgb(8, 207, 8)
}


@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}