{% extends "article/base.html" %}
{% block content %}
<h1>Is server hosting easy?</h1>
<p>Alot of people have likely attempted to host a server at home, for their games or other services like teamspeak.</p>
<p>What they will know then is that they have to log in to their router and open up the ports for whatever game or service they are hosting.
    to some this might be quite overwhelming, all the information about what IP the port should be opened on, and wether that IP should be dynamic or static,
    and maybe you have define if it's a TCP or UDP port. 
</p>
<p>Even though we all know the hardest part about <b>port forwarding</b> is to <i>find your routers admin username & password...</i> <br>
<i>(<b>port forwarding</b> is the name of the technique mentioned above and is essential for data to be transmitted to and from the server via the internet)</i></p>
<h3>How do big companies or dedicated serverware work?</h3>
<p>Dedicated serverware is usually rented at sites like <a href="http://linode.com" target="_blank" rel="noopener noreferrer">Linode</a> or 
    <a href="http://digitalocean.com" target="_blank" rel="noopener noreferrer">Digitalocean</a>.</p>
<p>These services offer servers at different capacities, operative systems and functionalities.
    When you rent a server you can then log in to that server using <b>SSH</b> - secure shell, 
    this can be tricky to setup and use. <br> Usually when you log into your server want to log in as your own user, but 
    you dont have a user when you log in the first time so you have to log in as root user, which is essentially the moderator user.
</p>
<h3>Making a user and setting up SSH keychain.</h3>
<p><i>Disclaimer: this is intented for servers on the <b>ubuntu</b> operative system</i></p>
<p>You can log into the server using the command: <code>ssh root@&lt;ip&gt;</code></p>
<p>When you're logged in you should start by making a new user, this can be the user for the specific purpose of the server or simply your name.
    You can do this by using the command: <code>adduser &lt;username&gt;</code> <br>
    Then you can add the user to the <b>sudo</b> group by: <code>adduser &lt;username&gt; sudo</code> <br>
    <i>If you get an error doing this, use the <b>sudo</b> keyword before the commands as such: <code>sudo adduser &lt;username&gt;</code></i> <br>
    <i><b>sudo</b> runs the command using administrator rights.</i>
</p>
<h5>great, now you made a user with admin!</h5>
<p>it's time to setup the ssh keypair</p>
<p>first make sure you're on your home folder, should be so by default but you can check if you type <code>pwd</code> and you should see <code>/home/&lt;username&gt;</code> <br>
If you do not see this you can type <code>cd ~</code> to change directory to your home directory <i>(remember to be logged in as your user)</i></p>
<p>Now we're making the folder for your ssh key to be stored. <br> <code>mkdir -p ~/.ssh</code></p>
<p>You can run <code>ls -la</code> to see the current directory.</p>
<h5>Now log off of your server and open command prompt on your machine.</h5>
<p>now type in <code>ssh-keygen -b 4096</code> on your machine to generate a keypair.</p>
<p>When you run this command it will ask you for where you wish to save this keypair on your machine. I recommend leaving it at default. <i>(just click enter to leave it at default)</i></p>
<p>It will also ask you to enter a passphrase, this is not necesary but if you want some added security you can add one.</p>
<p>After the keys have been generated you will have a pair of keys on your machine in the directory you decided earlier, if default it will be under your user folder in /Users/&lt;yourusername&gt;/.ssh</p>
<p>In this folder you should have 2 files, one called <b>id_rsa</b> and one called <b>id_rsa.pub</b>
We're now going to send the <b>public file</b> to the server, this will allow it to identify us and grant us access.
Do this using the scp command: <code>scp ~/.ssh/id_rsa.pub &lt;yourserverusername&gt;@&lt;yourserverip&gt;:~/.ssh/authorized_keys</code> <br>
this will store the key in a file called 'authorized_keys' inside the .ssh folder on your server.
</p>
<p>Now log back in to the server.
    Now you can type <code>ls .shh</code> and you should see authorized_keys there.
    Next up we need to change some authorization for users on this folder.
    To do this we use the chmod command. <code>sudo chmod 700 ~/.shh/</code> & <code>sudo chmod 600 ~/.ssh/*</code>
</p>
<h3>Congratulations! You have now setup ssh keypair!</h3>
<p>Now it is adviced to change some of the configuration of ssh. This is done in the /etc/ssh/sshd_config file on your server. 
    However I will not be covering that as this should be secure enough.</p>
<p><i>remember to restart the sshd if you have made changes to config file. <code>sudo systemctl restart sshd</code></i></p>
<h2>Now time to setup the firewall!</h2>
<p>First install UFW - uncomplicated firewall</p>
<code>sudo apt-get install ufw</code>
<p>Then we set some default rules...</p>
<p>
    <code>sudo ufw default allow outgoing</code> <br>
    <code>sudo ufw default deny incomming</code>
</p>
<p><b>be carefull to configure the next rules before enabling the firewall. The previous command will lock out of your server if the firewall is to be enabled.</b></p>
<code>sudo ufw allow ssh</code>
<p>Now we have blocked all ports asside from ssh, which will allow us to enter the server.</p>
<p>You can also open ports for whatever traffic you expect:</p>
<p>
    <code>sudo ufw allow http/tcp</code> <br>
    <code>sudo ufw allow https/tcp</code>
</p>
<p>The ports above are default ports for webservers</p>
<p>Now we enable the firewall.</p>
<code>sudo ufw enable</code>
<h1>And you are done!</h1>
<p>User authorization, SSH-keypair and firewall has been setup for your server. It is now pretty much done being configured!</p>
{% endblock content %}
