{% extends "crowdfounder/base.html" %}
{% block content %}

<div class="container">
    
    {% for idea in ideas %}
    <div class="object">
        
        <h2>{{ idea.header }}</h2>
        <div class="object-sub">
            <p>{{ idea.description }}</p>
            {% if idea.votes > 1 %}
            <form action="{% url 'increase-vote' idea.pk %}" method=POST>
                <button class="emph" id="approve-btn" type="submit">votes: {{ idea.votes }}</button>
                </form>
            {% else %}
            <!-- <a href="{% url 'increase-vote' %}" class='emph'>vote:  {{ idea.votes }}</a> -->
            {% endif %}
        </div>
        <p class="subtle">On {{ idea.date_posted }}</p>
        
    </div>
    {% endfor %}
</div>

{% endblock content %}